<h1> Welcome to the Colorado Scenic Trail and Binocular Locator </h1>

<style>
  body{
    background-image: url('https://media.istockphoto.com/photos/hiking-trail-in-boulder-colorado-picture-id155419678');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<form action='information/' method='GET'>
<button type='submit'> View Website Information </button>
</form>

<form action='binocs/' method='GET'>
<button type='submit'> View Binocular Names / Prices</button>
</form>

<form action='trails/' method='GET'>
<button type='submit'> View Scenic Trail Names </button>
</form>