<h1> Information Page </h1>
<p> Welcome to the Colorado Scenic Trail and Binocular Locator. </p>

<style>
  body{
    background-image: url('https://media.istockphoto.com/photos/hiking-trail-in-boulder-colorado-picture-id155419678');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<p> Background image taken from <a href='https://media.istockphoto.com/photos/hiking-trail-in-boulder-colorado-picture-id155419678'> here </a> </p>
<p> Trail data taken from <a href='https://trails.colorado.gov/featured-routes'> here </a></p>
<p> Binocular prices taken from <a href='https://www.opticsplanet.com/binoculars.html'> here </a></p>

<form action='/' method='GET'>
<button type='submit'> Home </button>
</form>