<p> Enter the name of a trail you would like to remove </p>
<form action = "/removedTrails" method = "get">
<br>
<textarea name="trail"></textarea>
</br>
<input type="submit" value="OK">
</form>

<style>
  body{
    background-image: url('https://media.istockphoto.com/photos/hiking-trail-in-boulder-colorado-picture-id155419678');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<form action='/trails' method='GET'>
<button type='submit'> View Original Trail Names </button>
</form>