<h1> Trails </h1>
{% for trail in trails %}
    <li>{{ trail }}</li>
{% endfor %}

<style>
  body{
    background-image: url('https://media.istockphoto.com/photos/hiking-trail-in-boulder-colorado-picture-id155419678');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<form action='/addTrail' method='GET'>
<button type='submit'> Add a Trail </button>
</form>

<form action='/removeTrail' method='GET'>
<button type='submit'> Remove a Trail </button>
</form>

<form action='/binocs' method='GET'>
<button type='submit'> View Binocular Names / Prices </button>
</form>

<form action='/' method='GET'>
<button type='submit'> Home </button>
</form>